[Unit]
Description=Quarter-hourly OSRS Community Bingo disk usage monitor

[Timer]
OnCalendar=*-*-* *:00/15:00 UTC
Persistent=true

[Install]
WantedBy=timers.target
